*::-webkit-input-placeholder {
  font-size: 13pt;
  color: #808080;
  font-style: italic;
  opacity: 1;
}

*:-moz-placeholder {
  font-size: 13pt;
  color: #808080;
  font-style: italic;
  opacity: 1;
}

*::-moz-placeholder {
  font-size: 13pt;
  color: #808080;
  font-style: italic;
  opacity: 1;
}

*:-ms-input-placeholder {
  font-size: 13pt;
  color: #808080;
  font-style: italic;
  opacity: 1;
}

@font-face {
  font-family: 'icomoon';
  src: url("/public/fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  color: #353535;
}

h1, h2, h3, h4 {
  font-family: "RobotoBold", sans-serif;
  color: #353535;
}

.wrapper, .panel, .nav {
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.content, .content #nameArticle, .img-manager #sourse, .urlInput, .titleInput {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hero {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  height: 100vh;
  background-image: url(/public/imgs/ap_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper {
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  min-width: 940px;
  margin: 0 auto;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
}

.panel {
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  min-width: 940px;
  margin: 30px auto 0;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
}
.panel .logon {
  margin: 0 20px;
  font-size: 15pt;
  color: #FFF;
  text-shadow: 1px 1px 1px #3E3E3E;
  line-height: 50px;
}
.panel #logOut {
  float: right;
  width: 60px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  color: #FFF;
  outline: none;
  font-weight: bold;
  text-shadow: 1px 1px 1px #5E5E5E;
  border: 1px solid #D51D1D;
  background: #D03636;
  transition: background .2s;
}
.panel #logOut:hover {
  background: #CC2C2C;
}
.panel #logOut:active {
  line-height: 30px;
  background: #C53030;
}

.btn {
  margin: 10px 0;
  height: 30px;
}

.nav {
  display: block;
  float: left;
  width: 20%;
  padding: 0;
  margin: 0;
}
.nav li {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.nav li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.nav li a {
  display: block;
  background: #FFD700;
  background: rgba(0, 0, 0, 0.3);
  color: #DDDDDD;
  text-align: center;
  font-size: 17px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  line-height: 42px;
  text-decoration: none;
  transition: background .1s;
}
.nav li a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.nav .click a {
  background: #8A76AC;
}
.nav .click a:hover {
  background: #8A76AC;
}

.content {
  position: relative;
  float: left;
  width: 80%;
  padding: 0 20px 20px 20px;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
}
.content h1, .content h2, .content p, .content ul li, .content a {
  padding: 0;
  margin: 0;
  color: #EDEDED;
}
.content .title {
  font-size: 16pt;
  margin: 10px 0 0 0;
}
.content textarea {
  display: block;
  max-width: 100%;
}
.content #nameArticle {
  display: block;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin: 0 0 5px 0;
  outline: none;
}

.box-modal {
  width: 900px;
}

/*Img manager*/
.mi-title {
  font-size: 20px;
  color: #E9E9E9;
  text-align: center;
}

.img-manager {
  overflow: hidden;
  width: 840px;
  padding: 5px;
}
.img-manager p {
  margin: 0 0 5px 0;
}
.img-manager #upload {
  width: 80px;
  text-align: center;
  background: #E9E9E9;
  line-height: 30px;
  color: #292929;
  border: 1px solid #b6b6b6;
}
.img-manager #status {
  display: block;
  padding: 5px;
  margin: 5px 0;
}
.img-manager #sourse {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 8px;
  margin: 0 0 10px 0;
  font-size: 13pt;
  outline: none;
  border: none;
}
.img-manager .img-prev {
  float: left;
  margin: 5px 3px;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 5px;
  transition: border .1s;
}
.img-manager .img-prev img {
  border-radius: 5px;
}
.img-manager .img-prev:hover {
  border: 3px solid #8A76AC;
}
.img-manager .img-prev button {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.settings {
  position: absolute;
  top: 13px;
  right: 100px;
  cursor: pointer;
  transition: transform .8s;
}
.settings:before {
  font: 16pt icomoon;
  color: #FFF;
  content: "\e010";
}
.settings:hover {
  transform: rotate(90deg);
}

#changeAuthDataForm input, #changeAuthDataForm textarea {
  display: block;
  width: 300px;
  height: 35px;
  padding: 0 8px;
  margin: 3px 0;
  border: none;
  outline: none;
  background: #F4EEF7;
}
#changeAuthDataForm textarea {
  max-width: 300px;
  min-width: 300px;
  height: 80px;
  padding-top: 5px;
}

.btn {
  margin: 10px 0;
  height: 30px;
}

.pages {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #564551;
}
.pages .page {
  position: relative;
  height: 60px;
  margin: 10px 0;
  border: 1px solid #5E4F5A;
  background: #6E5C68;
}
.pages .page .link {
  margin: 0 0 0 25px;
  color: #FFFFFF;
  line-height: 60px;
  text-decoration: none;
  font-size: 14pt;
}
.pages .page .link:hover {
  border-bottom: 2px solid #fff;
}
.pages .page .delStaticPageBtn, .pages .page .viewStaticPage {
  position: absolute;
  top: 11px;
  width: 44px;
  height: 38px;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1px;
  font-size: 21px;
  text-shadow: 0 1px 3px #313131;
  text-align: center;
}
.pages .page .delStaticPageBtn {
  right: 20px;
  background: #D84363;
  transition: all .3s;
}
.pages .page .delStaticPageBtn:hover {
  color: #f7f7f7;
  background: #d53658;
}
.pages .page .delStaticPageBtn:active {
  padding-top: 3px;
  color: #f0f0f0;
  background: #d12b4f;
}
.pages .page .viewStaticPage {
  right: 80px;
  background: #4FA2C8;
}
.pages .page .viewStaticPage:hover {
  color: #f7f7f7;
  background: #439cc4;
}
.pages .page .viewStaticPage:active {
  padding-top: 3px;
  color: #f0f0f0;
  background: #3b94bd;
}

#dataFormAddPage, #dataFormEditPage {
  position: relative;
}
#dataFormAddPage .icon-help, #dataFormEditPage .icon-help {
  position: absolute;
  left: 390px;
  top: 12px;
  font-size: 22px;
  cursor: pointer;
  color: #8A76AC;
}
#dataFormAddPage .icon-help:hover, #dataFormEditPage .icon-help:hover {
  color: #7c66a2;
}

.addStaticPage {
  height: 38px;
  margin: 20px 0 0 10px;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1px;
  color: #FFF;
  font-size: 16px;
  background: #58BBA0;
  transition: all .3s;
}
.addStaticPage i {
  font-size: 18px;
  margin: 0 10px 0 0;
}
.addStaticPage:hover {
  color: #f2f2f2;
  background: #48b195;
}
.addStaticPage:active {
  padding-top: 2px;
  color: #ebebeb;
  background: #44a68c;
}

#editStaticPage {
  height: 38px;
  margin: 20px 0 0 10px;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1px;
  color: #FFF;
  font-size: 16px;
  background: #4FA2C8;
  transition: all .3s;
}
#editStaticPage:hover {
  color: #f7f7f7;
  background: #439cc4;
}
#editStaticPage:active {
  padding-top: 2px;
  color: #f0f0f0;
  background: #3b94bd;
}

.searchStaticPage {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 38px;
  width: 180px;
  padding: 0 8px;
  margin: 0;
  font-size: 13pt;
  outline: none;
  border: none;
  border-radius: 1px;
}

.urlInput {
  width: 420px;
  height: 35px;
  padding: 0 8px;
  margin: 10px 0;
  font-size: 14pt;
  border: none;
  border-radius: 1px;
}

.titleInput {
  width: 420px;
  height: 35px;
  padding: 0 8px;
  margin: 10px 0;
  font-size: 14pt;
  border: none;
  border-radius: 1px;
}

.mi-btn {
  position: absolute;
  right: 20px;
  top: 48px;
  z-index: 1000;
  width: 72px;
  height: 35px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1px;
  color: #FFF;
  font-size: 20px;
  background: #4FA2C8;
  transition: all .2s;
}
.mi-btn:hover {
  color: #f7f7f7;
  background: #439cc4;
}
.mi-btn:active {
  padding-top: 2px;
  color: #f0f0f0;
  background: #3b94bd;
}

.title_modal {
  color: #EEEEEE;
  text-align: center;
}

.btns-modal {
  width: 175px;
  height: 34px;
  margin: 0 auto;
}

.delStaticPage {
  width: 70px;
  height: 34px;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1px;
  font-size: 16px;
  color: #FFFFFF;
  background: #D84363;
}
.delStaticPage:hover {
  color: #f7f7f7;
  background: #d53658;
}
.delStaticPage:active {
  color: #f0f0f0;
  background: #d12b4f;
}

.cancel-modal {
  display: inline-block;
  width: 90px;
}
.cancel-modal button {
  width: 90px;
  height: 34px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1px;
  font-size: 16px;
  color: #FFFFFF;
  background: #4FA2C8;
}
.cancel-modal button:hover {
  color: #f7f7f7;
  background: #439cc4;
}
.cancel-modal button:active {
  color: #f0f0f0;
  background: #3b94bd;
}
